<div><p><%= link_to 'Home', root_path %></p></div>

<body>
<h3>You guessed <%= @their_choice %>. Computer guessed <%= @computer_choice %>.</h3>

<% if @their_choice == @computer_choice %>
	<h1> Tie! </h1>
	<%= image_tag 'games/tie.jpg' %>
<% elsif (@their_choice == "rock" && @computer_choice == "paper") || (@their_choice == "paper" && @computer_choice == "scissors") || (@their_choice == "scissors" && @computer_choice == "rock") %>
	<p>Computer Wins</p>
	<%= image_tag 'games/loser.gif' %>
<% else %>
	<p>You win!</p>
	<%= image_tag 'games/winner.gif' %>
<% end %>

<p><%= link_to 'Play again?', throw_path %></p>
</body>