<h1><%= @story.title %><h1>

<h4>CATEGORY: <%= @story.category %></h4>
<h5>UPVOTES: <%= @story.upvotes %></h4>

<p><%= link_to "Read the whole story here", @story.link %></h4>

<br><br>
<p><%= link_to "<< home",  root_path %></p>