<div class="form-horizontal align-left">
<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group form-group-lg">
    <div class="col-sm-6">
      <%= f.label :department %><br>
      <%= f.text_field :department %>
    </div>
  </div>
  <div class="actions", class: "btn btn-primary">
      <%= f.submit %>
  </div>
<% end %>
</div>