<h3>You guessed <%= @their_guess %>. Computer guessed <%= @computer_guess %></h3>

<% if @their_guess == @computer_guess %>
	<h1> You won! </h1>
	<%= image_tag 'games/winner.gif' %>
<% else %>
	<h1> Sorry you lost </h1>
	<%= image_tag 'games/loser.gif' %>
<% end %>

<p><%= link_to 'Guess again?', guess_path %></p>
<p><%= link_to 'Home', root_path %></p>