<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :form_name %><br>
    <%= f.text_field :form_name %>
  </div>
  <div class="field">
    <%= f.label :form_link %><br>
    <%= f.text_field :form_link %>
  </div>
  <div class="field">
    <%= f.label :municipality_name %><br>
    <%= f.text_field :municipality_name %>
  </div>
  <div class="field">
    <%= f.label :municipality_state %><br>
    <%= f.collection_select :municipality_state, Form::STATE, :to_s, :to_s, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :form_department %><br>
    <%= f.collection_select :form_department, Form::DEPARTMENT, :to_s, :to_s %>
  </div>
  <div class="actions">
    <%= f.submit "Add Form"%>
  </div>
<% end %>


