<div class="form-horizontal align-left">

<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group form-group-lg">
    <div class="col-sm-6">
    <%= f.text_field :resource, class: "form-control input-lg", placeholder: "Name of Resource"  %>
    </div>
  </div>


  <div class="form-group form-group-lg">
    <div class="col-sm-6">
    <%= f.text_field :url, class: "form-control input-lg", placeholder: "Resource URL"  %>
    </div>
  </div>

  <div class="form-group input-lg">
      <div class="controls">

    <%= f.collection_select(:genre, Resource::GENRE, :to_s, :to_s, :include_blank => "Type of Resource") %>
    </div>
  </div>

  <div class="form-group input-lg">
      <div class="controls">
    <%= f.collection_select(:state_id, State.all, :id, :state,  :include_blank => "State")%>
    </div>
  </div>


  <div class="form-group input-lg">
      <div class="controls">
    <%= f.collection_select(:municipality_id, Municipality.all, :id, :name,  :include_blank => "Municipality")%>
    </div>
  </div>
  

  <div class="form-group input-lg">
      <div class="controls">
    <%= f.collection_select :department_id, Department.order(:department), :id, :department, :include_blank => "Department" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Create Resource", class: "btn btn-primary" %>
  </div>
<% end %>
</div>