<div class="container">

<p id="notice"><%= notice %></p>





<div class="panel-heading pull-left col-sm-6">
<h1 class="align-left">Payment Integrations</h1>
<table class="table table-hover">
    <tbody>
        <% @payment_provider.each do |payment_provider| %>
            <div style="border: 1px #ccc solid;
            padding-bottom: 50px;
            border-radius: 4px;
            background-color: #fff;">
            <h3 class="text-center" style="align-content: flex-start" ><%= payment_provider %></h3>
            <br>
            <% @municipality.each do |municipality| %>
              <% if municipality.payment_provider == payment_provider %>
                <h5 style="padding-left: 50px;"><%= municipality.name %> | <%= municipality.state.state %></h5>
              <% end %>
            <% end %>
          </div>
          <br>
        <% end %>
    </tbody>
  </table>
</div>


<div class="panel-heading col-sm-6 pull right">
<h1 class="align-right">Form Examples</h1>
<table class="table table-hover">

  <tbody>
     <%# if @referral_present != nil %>
      <% @resource.each do |resource| %>

        <% if resource.genre == "Form Examples" %>
          <%= link_to(resource.url, class: "btn btn-default btn-block", :target => '_blank') do %>
              <h3><%= resource.resource %> </h3>
          <% end %>
        <% end %>
          
      <% end %>
  </tbody>
</table>
</div>


<div class="panel-heading col-sm-6 pull right">
<h1 class="align-right">Referrals</h1>
<table class="table table-hover">

  <tbody>
     <%# if @referral_present != nil %>
      <% @municipality.each do |municipality| %>

        <% if municipality.referral != nil && municipality.referral.blank? != true %>
          <%= link_to(municipality.referral_url, class: "btn btn-default btn-block", :target => '_blank') do %>
              <h3><%= municipality.name %> | <%= municipality.state.state %></h3>
              <h5><%= municipality.referral %></h5>
          <% end %>
          <!-- <tr class="active pull left"> -->
          <%#= link_to municipality.referral , @referral_url,  %>
          <!-- <div class="col-sm-2">
            <button type="button" class="btn btn-default btn-block">

                <h4><%#= municipality.referral %></h4>
                <h6><%#= municipality.name %>, <%= municipality.state.state %></h6>
            </button>
          <br> -->
        <% end %>
          
      <% end %>
  </tbody>
</table>
</div>





<!-- <h1>All Resources</h1>
<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Url</th>
      <th>State</th>
      <th>Municipality</th>
      <th>Department</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

 <!--  <tbody>
    <%# @resources.each do |resource| %>
      <tr>
        <td><%#= resource.resource %></td>
        <td><%#= resource.url %></td>
        <td><%#= resource.state %></td>
        <td><%#= resource.municipality %></td>
        <td><%#= resource.department %></td>
        <td><%#= resource.genre %></td>
        <td><%#= link_to 'Show', resource %></td>
        <td><%#= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%#= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
<div>
<br> -->
</div>
<% if user_signed_in? %>
<%= link_to 'New Resource', new_resource_path, class: "btn btn-default" %>
<% end %>
<br>
<br>

