<div class="form-horizontal align-left">
<%= form_for(@municipality) do |f| %>
  <% if @municipality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@municipality.errors.count, "error") %> prohibited this municipality from being saved:</h2>

      <ul>
      <% @municipality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-group-lg">
    <div class="col-sm-6">
     <%#= f.label :name %><br>
     <%= f.text_field :name, class: "form-control input-lg", placeholder: "Municipality Name"  %>
    </div>
  </div>


  <div class="form-group input-lg">
    <div class="controls">
    <!-- div class="  dropdown  input-lg"> -->
 <!--      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"> -->
      <%#= f.label :state %>
      <%= f.collection_select(:municipality_type, Municipality::MUNICIPALITY_TYPE, :to_s, :to_s) %>
   <!--  </ul> -->
    </div>
  </div>

  <div class="form-group input-lg">
    <div class="controls">
      <%#= f.label :state %>
      <%= f.collection_select(:state_id, State.all, :id, :state)%>
    </div>
  </div>
  <div class="form-group form-group-lg">
    <div class="col-sm-6">
      <%#= f.label :population %>
      <%= f.number_field :population, class: "form-control input-lg", placeholder: "Population"  %>
    </div>
  </div>
  <!-- <br><br>
  <div>
    <h4>Optional:</h4>
  </div> -->
  <div class="form-group form-group-lg">
    <div class="col-sm-6">
     <%#= f.label :name %><br>
     <%= f.text_field :forms_page, class: "form-control input-lg", placeholder: "City Form Page: http://website.com"  %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Save Municipality", class: "btn btn-primary"%>
  </div>
<% end %>
</div>

