<p id="notice"><%= notice %></p>

<h1 class="panel-heading">Municipalities:</h1>


<div>
       <%= form_tag('/municipalities', method: :get) do %>
      <%= select_tag 'state_id', options_for_select(@states.map{ |s| [s.state, s.id]}), class: "btn btn-default btn-lg dropdown-toggle"  %>
      <%= submit_tag "Search", class: "btn btn-default" %>
      <%= link_to "Reset", municipalities_path, class: "btn btn-default" %>
      <% end %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Municipality</th>
      <th>State</th>
      <th><%= sort_link 'Population', :population %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
      
  <tbody>
    <div class="form-group">
   
    <div>
    <% @municipalities.each do |municipality| %>
      <tr class="active">
        <td><%= link_to municipality.name, municipality_path(municipality) %></td>
        <td><%= municipality.state.state %></td>
        <td><%= municipality.population %></td>
          <% if @forms != nil %>
            <% @forms.each do |form| %>
            <div class="row">
            <div>
              <tr>
                <td class:"col-md-3 col-md-offset-3"></td>
                 <td class:"col-md-3 col-md-offset-3"><%= link_to form.form_name, form.form_link %></td>
                 <td class:"col-md-3 col-md-offset-3"><%= form.department.department %></td>

              </tr>
            </div>
          </div>
            <% end %>
          <% end %>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', municipality %></td>
        <td><%= link_to 'Edit', edit_municipality_path(municipality) %></td>
        <td><%= link_to 'Destroy', municipality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>

<br>

<br>

<% if user_signed_in? %>
<%= link_to 'New Municipality', new_municipality_path %>
<% end %>


<!-- create a dropdown of the states
     
 -->