

<div class="page-header">

  <div class="pull-left">
  <!-- <div class:"col-md-3 col-md-offset-3"> -->
    <h1 class="panel-heading">Municipalities</h1>
  </div>

  <div class="pull-right">
    <!-- <div class:"col-md-3 float-left"> -->
      <h3 class="text-right">Total Governments: <%= @count %><br>
        <% if @present != nil %>
          Total <%= @state_name.state %> <% if params[:municipality_type].present? %>Counties<% else%>Municipalities:<% end %> <%= @count_state %></h3>
        <% end %>  
  </div>
    <div class="clearfix"></div>
  </div>


<div>
  <div class="form-group input-lg">
  <%= form_tag('/municipalities', method: :get) do %>

    <%= select_tag "state", options_for_select(State.all.map{ |s| [s.state, s.id]}), {:include_blank => true} %>
   <!--  <%#= select_tag( :municipality options_for_select(@dropdown), , )  %> -->
    <%= submit_tag "Search", class: "btn btn-default" %>
    <%= link_to "Reset", municipalities_path, class: "btn btn-default" %>
    <%= button_tag 'Counties Only', name: "municipality_type", value: "County", class: "btn btn-default pull-right" %>
  <% end %>
  </div>
  <div col-md-3>

  </div>
</div>
<!-- <div class="panel panel-info" > -->
<div class="pannel">
  <table class="table table-hover">
  


        <div class="panel-title panel-info">
          <thead>
            <tr class="panel-title panel-info">
              <th>Municipality</th>
              <th>State</th>
              <th><%= sort_link 'Population', :population %></th>
              <th colspan="3"></th>
            </tr>
          </thead>
        </div>
      



  <tbody>
    <div class="form-group">
          <% @municipalities.sort { |a,b| a.name <=> b.name }.each do |municipality| %>
            <tr class="active">
              <td><%= link_to municipality.name, municipality_path(municipality) %></td>
              <td><%= municipality.state.state %></td>
              <td><%= municipality.population %></td>
              <% if user_signed_in? %>
                <td><%= link_to 'Show', municipality %></td>
                <td><%= link_to 'Edit', edit_municipality_path(municipality) %></td>
                <td><%= link_to 'Destroy', municipality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
              <% if @present != nil %>
                <% municipality.forms.each do |form| %>
                <tr>
                  <td class:"col-md-3 col-md-offset-3"></td>
                  <td class:"col-md-3 col-md-offset-3"><%= link_to form.form_name, form.form_link %></td>
                  <td class:"col-md-3 col-md-offset-3"><%= form.department.department %></td>
                  <td class:"col-md-3 col-md-offset-3"></td>
                <% end %>  
              <% end %>  
                <tr>
          <% end %>
    </div>           
             
  </tbody>
  </div>
</table>
</div>

<br>

<br>

<% if user_signed_in? %>
<%= link_to 'New Municipality', new_municipality_path, class: "btn btn-default" %>
<% end %>


<!-- create a dropdown of the states
     
 -->