<p id="notice"><%= notice %></p>

<h1 class="panel-heading">Municipalities:</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Municipality</th>
      <th>State</th>
      <th>Population</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </div>

  <tbody>
    <div>
      <p>By State:</p>
      <div class="form-group">
       <%= form_tag('/municipalities', method: :get) do %>
      <%= select_tag 'state_id', options_for_select(@states.map{ |s| [s.state, s.id] }) %>
      <%= submit_tag "Search" %>
      <% end %>
      </div>
      
    </div>
    <div>
    <% @municipalities.each do |municipality| %>
      <tr>
        <td><%= link_to municipality.name, municipality_path(municipality) %></td>
        <td><%= municipality.state.state %></td>
        <td><%= municipality.population %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', municipality %></td>
        <td><%= link_to 'Edit', edit_municipality_path(municipality) %></td>
        <td><%= link_to 'Destroy', municipality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>

<br>

<br>

<% if user_signed_in? %>
<%= link_to 'New Municipality', new_municipality_path %>
<% end %>


<!-- create a dropdown of the states
     
 -->