

<div class="page-header">

  <div class="pull-left">
  <!-- <div class:"col-md-3 col-md-offset-3"> -->
    <h1 class="panel-heading"><%= @municipality.name %></h1>
  </div>

<%# if @municipality.municipality_type != nil %>
	<!-- <h4>Type:<%#= @municipality.municipality_type %></h4> -->
<%# end %>
	<div class="pull-right">
		<br>
		<h4>State:<%= @municipality.state.state %></h4>
		<h4><%= @municipality.population %></h4>
		<% if @municipality.forms_page != nil %>
		<h4><%= link_to 'Forms Page', @municipality.forms_page %></h4>
		<% end %>
		<br>
	</div>
</div>
<div class="clearfix"></div>


    <!-- <div class:"col-md-3 float-left"> -->
    <!--   <h3 class="text-right">Total Governments: <%= @count %><br>
        <%# if @present != nil %>
          Total <%#= @state_name.state %> Municipalities: <%= @count_state %></h3>
        <%# end %>  
    </div> -->
   


<div>

	<table class="table table-striped">
		<% @municipality.forms.each do |form| %>
				<tr>
					<td class:"col-md-3 col-md-offset-3"><%= link_to form.form_name, form.form_link %></td>
					<td class:"col-md-3 col-md-offset-3"><%= link_to form.department.department, form.department.department %></td>
				</tr>
		<% end %>
	</table>
</div>
<br>
<div class="nav">
<%= link_to 'Back', municipalities_path, class: "btn btn-default" %><% if user_signed_in? %> |

<%= link_to 'Edit Municipality', edit_municipality_path(@municipality), class: "btn btn-default" %> |
<%= link_to 'Add a New Form', new_form_path(:municipality_id => @municipality), class: "btn btn-default" %>
<% end %>
<!-- link_to "Link text", some_path(:foo => "bar", :baz => "quux"), user: @user, :method => :post -->
</div>
