<h1><%= @municipality.name %></h1>
<h4>State:<%= @municipality.state.state %></h4>
<h4>Population:<%= @municipality.population %></h4>
<br>
<div>
	<% @municipality.forms.each do |form| %>
		<%= link_to form.form_name, form.form_link %><br>
	<% end %>
</div>
<br>
<div class="nav">
<%= link_to 'Back', municipalities_path, class: "btn btn-default" %> |
<%= link_to 'Edit Municipality', edit_municipality_path(@municipality), class: "btn btn-default" %> |
<%= link_to 'Add a New Form', new_form_path, class: "btn btn-default" %>
</div>
