<p id="notice"><%= notice %></p>
<h1><%= @municipality.name %></h1>
<h4>Population:<%= @municipality.population %></h4>
<br>
<div>
	<% @municipality.forms.each do |form| %>
		<%= link_to form.form_name, form.form_link %><br>
	<% end %>
</div>
<br>
<div class="nav">
<%= link_to 'Edit Municipality', edit_municipality_path(@municipality) %> |
<%= link_to 'Back', municipalities_path %>
</div>
