<!DOCTYPE html>
<html>
<head>
  <title>Ritly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<header> 
		<% if user_signed_in? %>
		<span>Hello <%= current_user.email %></span>
		
		<nav>
			<ul>
				<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
			</ul>
		</nav>
		<% else %>
		<nav>
			<ul>
				<li><%= link_to "Sign In", new_user_session_path %></li>
			</ul>
			<ul>
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
			</ul>
		</nav>
		<% end %>
	</header>
<body>
<main>
<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>

<%= yield %>
</main>
</body>
</html>
