<div class="form-horizontal align-left">
<%= form_for(@form) do |f| %>

  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<br>
<br>


  <div class="form-group form-group-lg">
    <div class="col-sm-6">
      <%= f.text_field :form_name, class: "form-control input-lg", placeholder: "Form Name"  %>
    </div>
  </div>


  <div class="form-group form-group-lg">
      <div class="col-sm-6">
        <%= f.text_field :form_link, class: "form-control input-lg", placeholder: "https://city.seamlessdocs.com/f/linkname"  %>
      </div>
  </div>


  <div class="form-group input-lg">
    <div class="controls">
      <%= f.collection_select(:municipality_id, Municipality.order(:name), :id, :name, {:selected =>
@muni_id}) %>
    </div>
  </div>

    <div class="form-group input-lg">
      <div class="controls">
        <%= f.collection_select :department_id, Department.order(:department), :id, :department %>
      </div>
    </div>

    <div class="form-group input-lg">
      <div class="controls">
        <%#= f.text_field :form_type %>
        <%= f.collection_select(:form_type, Form::FORM_TYPE, :to_s, :to_s)  %>
                <%#= f.collection_select(:municipality_type, Municipality::MUNICIPALITY_TYPE, :to_s, :to_s) %>

      </div>
    </div>

  <div class="form-group input-lg">
    <div class="controls">
      <%= f.check_box :has_payment, :style => "width: 25px; height: 25px;" %>
      <%= f.label "Form has payment" %>
    </div>
  </div>
  <br>

  <div class="form-group input-lg">
    <div class="controls">
      <%= f.check_box :is_state, :style => "width: 25px; height: 25px;" %>
      <%= f.label "Form is a state mandated or state issued form" %>
    </div>
  </div>
  <br>

  <div class="form-group input-lg">
    <div class="controls">
      <%= f.check_box :is_federal, :style => "width: 25px; height: 25px;" %>
      <%= f.label "Form is a federally mandated or issued form" %>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Save Form", class: "btn btn-primary"%>
  </div>
<% end %>
</div>



