<!-- <div class="panel panel-default"> -->

<h2 class="panel-heading">10 recently added forms of <%= @form_count %> forms:</h2>

<table class="table table-hover">
 
  <thead>
    <tr>
      <th>Form Name</th>
      <th>Municipality</th>
      <th>State</th>
      <th>Department</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
  </div>
 
  <tbody>
    <% @forms.each do |form| %>
      <% if form.has_payment == true %>
      <tr class="success">
      <% else %>
      <tr>
      <% end %>
        <td><%= link_to form.form_name, form.form_link, :target => "_blank" %>
          <% if form.is_state == true %>
            <span class="badge">S</span>
          <% elsif form.is_federal == true %>
            <span class="badge">F</span>
          <% end %>
        </td>
        <td><%= form.municipality.name rescue nil %></td>
        <td><%= form.municipality.state.state rescue nil %></td>

        <td><%= form.department.department %></td>
        <% if user_signed_in? %>
        <td><%#= link_to "upvote", like_form_path(form), method: :put %>
        <td><%#= link_to 'Show', form %></td>
        <td><%#= link_to 'Edit', edit_form_path(form) %></td>
        <td><%#= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<h2 class="panel-heading">10 most recent governments of <%= @gov_count %> governments:</h2>

<table class="table table-hover">
 
  <thead>
    <tr>
      <th>Municipality</th>
      <th>State</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
  </div>
 
  <tbody>
    <% @munis.each do |municipality| %>
        <td><%= link_to municipality.name, municipality, :target => "_blank" %></td>
        <td><%= municipality.state.state%></td>
        <% if user_signed_in? %>
        <td><%#= link_to "upvote", like_form_path(form), method: :put %>
        <td><%#= link_to 'Show', form %></td>
        <td><%#= link_to 'Edit', edit_form_path(form) %></td>
        <td><%#= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

