
<div class="row">
  <tr>
      <%= form_for 'forms_path', method: :get do %>

      <%= text_field_tag :query, params[:query], class: "form-control col-lg-4" %>
      <%= submit_tag "Search", :form_name => nil, class: "btn btn-default"%>
      <%= link_to "Reset", forms_path, class: "btn btn-default" %>

      <% end %>
</div>


<div class="panel-heading">All Forms</div>

<table class="table table-hover">
 
  <thead>
    <tr>
      <th>Form Name</th>
      <th>Municipality</th>
      <th>State</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </div>
 
  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= link_to form.form_name, form.form_link %></td>
        <td><%= form.municipality.name %></td>
        <td><%= form.municipality.state.state %></td>
        <td><%= form.department.department %></td>
        <% if user_signed_in? %>
        <td><%#= link_to "upvote", like_form_path(form), method: :put %>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Form', new_form_path, class: "btn btn-default" %>
<%= link_to 'New Department', new_department_path, class: "btn btn-default" %>
<% end %>