<div class="panel panel-default">

<div class="jumbotron">
<div class="panel-heading">
  <p>
  <h1><%= @form.form_name %></h1>
  </p>
</div>

<div class="panel-body">
<p>
  <strong>Form link:</strong>
  <%= @form.form_link %>
</p>
</div>

<div class="panel-body">
<p>
  <strong>Municipality name:</strong>
  <%= @form.municipality.name %>
</p>
</div>

<div class="panel-body">
<p>
  <strong>Municipality state:</strong>
  <%= @form.municipality.state.state %>
</p>
</div>

<div class="panel-body">
<p>
  <strong>Form department:</strong>
  <%= @form.department.department %>
</p>

<p>
  <strong>Form Type:</strong>
  <%= @form.form_type %>
</p>
</div>
</div>
</div>
<%= link_to 'Edit', edit_form_path(@form), class: "btn btn-default" %> |
<%= link_to 'Back', forms_path, class: "btn btn-default" %>
