
<h1>What type of forms are your looking for?</h1>

<ul class="nav nav-pills" >
  <li><%= link_to 'All Forms', forms_path %></li>
  <li><%= link_to 'By Municipality', municipalities_path %></li>
  <li><%= link_to 'By Department', departments_path %></li>
  <li><%#= link_to 'Resources', resources_path %></li>
	<br>

	<%= render 'recent' %>

	<% if user_signed_in? %>
		<h3>I want to:</h3>

	<li><%= link_to 'Add a New Form', new_form_path, class: "btn btn-default" %></li>
	<li> | </li>
	<li><%= link_to 'Add a New Municipality', new_municipality_path, class: "btn btn-default" %></li>
	<li> | </li>
	<li><%= link_to 'Add a New Department', new_department_path, class: "btn btn-default" %></li>
	<li><%#= link_to 'Manage States', states_path %></li>
	<% end %>
</ul>