<h1>Hello! Results Page</h1>

<p>You rolled <%= @their_roll[0] %>, <%= @their_roll[1] %>, and <%= @their_roll[2] %>.</p>
<p>The computer rolled <%= @computer_roll[0] %>, <%= @computer_roll[1] %>, and <%= @computer_roll[2] %>.</p>