<!DOCTYPE html>
<html>
<header>
<p><%= link_to 'HOME', root_path %></p>
<% if user_signed_in? %>
	<%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "SIGN IN", new_user_session_path %>
<% end %>
</header>

<head>
  <title>FormSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>

	<%= yield %>

</body>
</html>
