<!DOCTYPE html>
<html>
<header>
<p><%= link_to 'HOME', root_path %></p>
</header>

<head>
  <title>FormSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
