<h1>Welcome to T-Shirt Shop</h1>
<p>Check out all of the awesome shirts below</p>

<%= form_for 'root_path', method: :get do %>
	<%= text_field_tag :query, params[:query]	%>
	<%= submit_tag "Search" %>
<% end %>

<%= link_to "New shirt", new_shirt_path %>

<ol>
	<%# render @shirts %>
</ol>

<% @shirts.each do |shirt| %>
	<div class="shirt">
		<%= image_tag(shirt.image) %>
		<h3><%= link_to shirt.name, shirt_path(shirt.id) %></h3>
		<p><%= shirt.description %></p>
	</div>
<% end %>