<%# render partial:'shirt', object: @shirt %> 
<%= link_to '<< back', shirts_path %>
<h1><%= @shirt.name %></h1>
<h3><%= @shirt.description %></h3>
<%= image_tag @shirt.image %>
<hr>
<p>

<%= link_to 'edit', edit_shirt_path(@shirt) %> |
<%= link_to 'delete', shirt_path(@shirt), method: :delete %>
</p>