<!DOCTYPE html>


<html lang="en">
<div class="container">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag "/favicon.ico" %>
	<link href="/assets/bootstrap_and_overrides.css" rel="stylesheet">

	
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet"> -->
</head>
<header>

<ul class="nav nav-pills">
	<li role="presentation"><%= link_to 'HOME', root_path %></li>
	<li role="presentation"><%= link_to 'FORMS', forms_path %></li>
  	<li role="presentation"><%= link_to 'MUNICIPALITIES', municipalities_path %></li>
  	<li role="presentation"><%= link_to 'DEPARTMENTS', departments_path %></li>
<% if user_signed_in? %>
	<li class="pull-right" role="presentation"><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
<% else %>
	<li role="presentation" class="pull-right"><%= link_to "SIGN IN", new_user_session_path %></li>
<% end %>
</ul>
</header>

<head>
  <title>FormSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/messages' %>
	
	<%#= flash[:notice] if flash[:notice] %>
	
	<%#= flash[:alert] if flash[:alert] %>
	
	
	<%= yield %>

</body>
</div>
</html>

